
<div class="bg-ash-dark text-ash-light small p-1">
	<div class="container">
		<div>Icons made by 
			<a class="text-ash-light" href="https://www.flaticon.com/authors/srip" title="srip" target="_blank">srip</a>
			from 
			<a class="text-ash-light" href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a>
			is licensed by 
			<a class="text-ash-light" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
			CC 3.0 BY
			</a>
		</div>
	</div>
</div>
