<!DOCTYPE html>
<html lang="en">
	<head>
		{% block meta %}
		<title>Title</title>
		<meta name="description" content="Description" />
		{% endblock %}
		{% include "brevehome/head.html" %}
	</head>
	<body class="bg-tan-light text-ash-dark">
		{% include "brevehome/nav.html" %}
		<div class="main-page-container">
			<div class="main-page-container-content container-fluid">
			{% block body %}
			{% endblock %}
			</div>
		<footer class="main-page-container-footer">
			{% include "brevehome/footer.html" %}
		</footer>
		</div>
	</body>
</html>

